.upper {
  height: 12vh;
  background-color: #C43302;
  color: #ffffff;
}

.middle {
  height: 78vh;
}

.lower {
  height: 10vh;
  background-color: #C2C0A6;
}

.middle-left {
  width: 64%;
}

.middle-right {
  width: 36%;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 8px;

  .member {
    height: 80%;
  }

  .button-cont {
    height: 20%;
  }
}

.exit-cam {
  height: 60%;
  background-color: #B4BEC9;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 8px;
  .box {
    border-radius: 8px;
    background-color: #FFFFFF;
  }
}

.input-voucher {
  height: 35%;
  background-color: #6D86A6;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
}